

        <% pokemonAtual.forEach(element => { %>
            
            <div class="card-container"> 
                <div class="header-card">
                    <span class="card-id"> <%= element.id %>  </span>
                    <span class="card-number"> <%= element.num %>  </span>
                </div>
                <div class="main-card"> 
                    <img src="<%= element.img %> " alt="<%= element.name %> ">
                    <div class="card-name"> <%= element.name %>  </div>
                    <div class="data-card"> 
                        <span class="width"> <%= element.weight %>  </span>  
                        <span class="height"> <%= element.height %>  </span>
                    </div>
                </div>
                <div> 
                    <%= element.candy %> 
                </div>
                <div>
                    <%= element.weaknesses %> 
                </div>
                <div class="footer-card"> <%= element.type %>  </div>
            </div>
    <% }) %>